/* FOOTER STYLES
--------------------------------------------------------------------- */
.footer {
	width: 90%;
	margin-left: 65px;
}

.footer-copy {
	text-align: left;
}

.footer-menu {
	text-align: right;
}