/*#region DD Calculation*/
div.calc-container {
    padding-left:1px;
    min-width:470px;
}

div.calc-block {
  margin-top:-3px;
  margin-left:20px;
  margin-right:10px;
  margin-bottom:15px;
}

div.calc-block h3 {
  margin-bottom:20px;
}

.calc-designation ul{
  margin-left:-30px;
}

.calc-designation ul li{
  list-style-type:none;  
}

.calc-input {
  margin-top:10px;
  margin-bottom:10px;
}

.calc-input input{
  width:70px;
}
/*#endregion */
